<h2 class="Vlt-title--margin-top3">Write the code</h2>
<p>Add the following to <code><%= config['file_name'] %></code>:</p>

<pre class="highlight <%= lexer.tag %> main-code">
<code><%= highlighted_code_source %></code></pre>

<p><a data-section="code" data-lang="<%= lang %>" data-block="<%= config['source'] %>" href="<%= source_url %>">View full source</a></p>

