<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head' %>

  <body class="Nxd-template" data-push-state-root="<%= canonical_path %>">
    <%= render partial: 'layouts/partials/header' %>
    <div class="Vlt-main Vlt-main--light Nxd-main" tabindex="2">
       <%= render partial: 'layouts/partials/notices' %>
      <div class="Vlt-card">
        <%= yield %>
        <%= render partial: 'layouts/partials/footer' %>
      </div>
    </div>
  </body>
</html>
